<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://code.alibabatech.com/schema/dubbo
       http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
    <dubbo:application name="dubbo-consumer">
        <dubbo:parameter key="qos.port" value="33333"/>
    </dubbo:application>
    <dubbo:reference interface="com.arliya.dubbo.api.Person" id="person"/>
    <dubbo:registry protocol="zookeeper" address="124.xxx.xxx.2:2181" timeout="25000"/>

</beans>